{# templates/account/logout.html #}
{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load allauth account %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h1>{% trans "Sign Out" %}</h1>

    <p>{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
      <a href="{% url 'home' %}" class="btn btn-secondary ms-2">Отмена</a> {# Ссылка на главную для отмены #}
    </form>
  </div>
</div>
{% endblock %}