{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% load django_bootstrap5 %}

{% block title %}{% trans "Пароль изменен" %} - Chatty{% endblock %} {# Изменил head_title #}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-7 col-md-9">
             <div class="card profile-card shadow-sm text-center">
                 <div class="card-header profile-card-title justify-content-center text-success"> {# Заголовок успешного действия #}
                    <i class="fa-solid fa-check-double fa-fw me-2"></i>{% trans "Пароль успешно изменен!" %} {# Изменил заголовок #}
                 </div>
                 <div class="card-body profile-card-content p-4">

                    <p class="lead mb-4">{% trans 'Ваш пароль был успешно изменен. Теперь вы можете войти с новым паролем.' %}</p>

                    <div class="d-grid gap-2 mt-4">
                        <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg"> {# Основная кнопка #}
                            <i class="fa-solid fa-right-to-bracket me-1"></i> {% trans "Войти в аккаунт" %} {# Изменил текст кнопки #}
                        </a>
                    </div>
                 </div> {# Конец card-body #}
             </div> {# Конец card #}
        </div>
    </div>
</div>
{% endblock %}