{# templates/account/password_reset_done.html #}
{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}

{% block head_title %}{% trans "Password Reset Sent" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 text-center"> {# Увеличил ширину колонки и центрировал текст #}
    <h1>{% trans "Password Reset Sent" %}</h1>

    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}Мы отправили вам e-mail для восстановления пароля. Если вы не получили e-mail, пожалуйста, проверьте папку со спамом или попробуйте снова.{% endblocktrans %}</p>
    <a href="{% url 'home' %}" class="btn btn-primary mt-3">На главную</a> {# Ссылка на главную #}
  </div>
</div>
{% endblock %}