# Основные зависимости
Django==5.1.5
python-dotenv==1.0.0

# Драйвер базы данных
psycopg2-binary>=2.9,<3.0

# Загрузка медиа-файлов
# Pillow>=10.0.0 # РАСКОММЕНТИРОВАТЬ и ДОБАВИТЬ при работе с изображениями!
django-storages==1.14.3

# Тестирование
pytest==7.4.3
pytest-django==4.8.0

# Инструменты разработки
django-debug-toolbar==4.3.0
flake8==6.1.0

# Дополнительно (Bootstrap)
django-bootstrap5==24.2
