{# templates/includes/navbar.html #}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{% url 'home' %}">Chatty</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Главная</a>
                </li>
                <li class="nav-item">
                    {# Используем имя URL из posts/urls.py #}
                    <a class="nav-link {% if request.resolver_match.view_name == 'posts:post-list' %}active{% endif %}" href="{% url 'posts:post-list' %}">Лента</a>
                </li>
                {# TODO: Добавить другие ссылки, если нужно (например, на страницу подписок) #}
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    {# Меню для аутентифицированного пользователя #}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if user.avatar %}
                                <img src="{{ user.avatar.url }}" alt="{{ user.username }}" class="rounded-circle me-1" width="24" height="24" style="object-fit: cover;">
                            {% endif %}
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'users:profile' user.username %}">Мой профиль</a></li>
                            {# Используем URL из users/urls.py (предполагая имя 'profile-edit') #}
                            <li><a class="dropdown-item" href="{% url 'users:profile-edit' pk=user.pk %}">Редактировать профиль</a></li>
                            <li><a class="dropdown-item" href="{% url 'posts:post-create' %}">Создать пост</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form action="{% url 'account_logout' %}" method="post" class="d-inline"> {# Используем allauth URL #}
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">Выйти</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    {# Ссылки для неаутентифицированного пользователя #}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Войти</a> {# allauth URL #}
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary btn-sm" href="{% url 'account_signup' %}" role="button">Регистрация</a> {# allauth URL #}
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>