{# templates/includes/navbar.html #}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Chatty</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Лента</a> {# TODO: Заменить href на {% url 'posts:list' %} или feed #}
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'users:profile' user.username %}">Мой профиль</a></li> {# ИСПОЛЬЗУЕМ URL ПРОФИЛЯ #}
              <li><a class="dropdown-item" href="#">Редактировать профиль</a></li> {# TODO: Добавить ссылку на редактирование #}
              <li><hr class="dropdown-divider"></li>
              <li>
                <form action="{% url 'account_logout' %}" method="post" style="display: inline;"> {# ИСПОЛЬЗУЕМ URL ВЫХОДА ALLAUTH #}
                   {% csrf_token %}
                   <button type="submit" class="dropdown-item">Выйти</button>
                </form>
              </li>
            </ul>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Войти</a> {# ИСПОЛЬЗУЕМ URL ВХОДА ALLAUTH #}
          </li>
          <li class="nav-item">
            <a class="btn btn-primary btn-sm" href="{% url 'account_signup' %}" role="button">Регистрация</a> {# ИСПОЛЬЗУЕМ URL РЕГИСТРАЦИИ ALLAUTH #}
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{# <!-- TODO: Заменить ссылки-заглушки (#) на реальные {% url '...' %} теги, когда соответствующие URL и views будут готовы (Задачи 5, 7, 8). -->#}
{# <!-- TODO: Добавить обработку POST-запроса для формы выхода в users/views.py и настроить URL 'users:logout'. -->#}